*{
    box-sizing: border-box;
}
body{
    background-image: url(../background.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.header{
    width: 100%;
    height: 20vh;
    margin-bottom: 50px;
}

.fa-solid:hover{
  color: red;
}